#=====================================================================================
# SYSTEM CONFIG
#=====================================================================================
BOXNAME="R420-2"

#-------------------------------------------------------------------------------------
# Internal Management
#-------------------------------------------------------------------------------------
CTRL_MGMT_NIC=br0
CTRL_MGMT_IP=10.0.0.11
COMP_MGMT_IP=10.0.0.11
MGMT_SUBNET=255.255.255.0

#-------------------------------------------------------------------------------------
# External Management (Optional)
#-------------------------------------------------------------------------------------
PUBLIC_NIC=p2p1
PUBLIC_IP=211.224.204.213
PUBLIC_SUBNET=255.255.255.128
PUBLIC_GW=211.224.204.129
PUBLIC_DNS=8.8.8.8

#-------------------------------------------------------------------------------------
# External Data Network (Optional) 
#-------------------------------------------------------------------------------------
# One-Box does not need external network interface
# EXT_NIC=em4


#=====================================================================================
# DB & RABBIT MQ
#=====================================================================================
DB_ADMIN_PASS=ohhberry3333
RABBIT_PASS=openstack

REGION_NAME=RegionOne

# WARN: take care to use \, as TIME_ZONE should be used with sed
TIME_ZONE="Asia\/Seoul"

#=====================================================================================
# KEYSTONE
#=====================================================================================
KEYSTONE_DBPASS=keystone1234
ADMIN_TOKEN=admin
ADMIN_PASS=ohhberry3333

OPENRC="$HOME/admin-openrc.sh"
OPENRC_v2="$HOME/admin-openrc_v2.sh"

#=====================================================================================
# GLANCE
#=====================================================================================
GLANCE_DBPASS=glance1234
GLANCE_PASS=glance1234

CIRROS_IMG="cirros-0.3.4-x86_64"

#=====================================================================================
# NOVA
#=====================================================================================
NOVA_DBPASS=nova1234
NOVA_PASS=nova1234
#VIRT_TYPE=qemu
VIRT_TYPE=kvm

#=====================================================================================
# NEUTRON 
# - "NET_DRIVER" is very important
#   . set NET_DRIVER ovs to use OVS
#   . set NET_DRIVER sriov to use SR-IOV
# - "SRIOV_NIC" should meet with HW configuration
#   . SRIOV_NIC should contain device name that exists in the host
#=====================================================================================
#NET_DRIVER="sriov"
NET_DRIVER="ovs"

NEUTRON_DBPASS=neutron1234
NEUTRON_PASS=neutron1234

METADATA_SECRET=meta1234

#-------------------------------------------------------------------------------------
# VLAN Configruation
#-------------------------------------------------------------------------------------
VLAN_RANGES=physnet_guest:2001:4000

#-------------------------------------------------------------------------------------
# SRIOV NIC Configuration
#-------------------------------------------------------------------------------------
SRIOV_NIC=physnet_wan:p2p4,physnet_lan_office:p2p3
PCI_VENDOR_DEV=8086:10ca

#-------------------------------------------------------------------------------------
# NEUTRON BRIDGE MAPPINGS - IMPORTANT!!!
#-------------------------------------------------------------------------------------

FLAT_NETWORKS_OVS=physnet_local,physnet_wan,physnet_lan_office,physnet_lan_server
FLAT_NETWORKS_IOV=physnet_local,physnet_lan_server

BRIDGE_LIST_OVS=("br-local" "br-lan-office" "br-lan-server" "br-wan" "br-guest")
BRIDGE_LIST_IOV=("br-local" "br-lan-server" "br-guest")

BRIDGE_MAPPINGS_OVS=physnet_local:br-local,physnet_lan_office:br-lan-office,physnet_lan_server:br-lan-server,physnet_wan:br-wan,physnet_guest:br-guest
BRIDGE_MAPPINGS_IOV=physnet_local:br-local,physnet_lan_server:br-lan-server,physnet_guest:br-guest

copy_array() {
  declare -a ORG_ARR=("${!1}")

  arr_size=${#ORG_ARR[*]}
  for i in `seq 0 $(($arr_size-1))`; do
    BRIDGE_LIST[$i]=${ORG_ARR[$i]}
  done
}

declare -a BRIDGE_LIST
if [ "${NET_DRIVER}" == "ovs" ]; then
  FLAT_NETWORKS=${FLAT_NETWORKS_OVS}
  copy_array BRIDGE_LIST_OVS[@]
  BRIDGE_MAPPINGS=${BRIDGE_MAPPINGS_OVS}
elif [ "${NET_DRIVER}" == "sriov" ]; then
  FLAT_NETWORKS=${FLAT_NETWORKS_IOV}
  copy_array BRIDGE_LIST_IOV[@]
  BRIDGE_MAPPINGS=${BRIDGE_MAPPINGS_IOV}
fi

#=====================================================================================
# HEAT
#=====================================================================================
HEAT_DBPASS=heat1234
HEAT_PASS=heat1234
HEAT_DOMAIN_PASS=heat1234

#=====================================================================================
# CEILOMETER
#=====================================================================================
CEILOMETER_DBPASS=ceilometer1234
CEILOMETER_PASS=ceilometer1234
TELEMETRY_SECRET=telemetry1234
